<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
       
       
        android:supportsRtl="true"
        android:theme="@style/Theme.AliaSpacesLocal"
        android:usesCleartextTraffic="false" android:icon="@mipmap/portfolio_launcher" android:roundIcon="@mipmap/portfolio_launcher" android:label="AliaSpaces">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="mypersonas.online" />
                <data android:scheme="https" android:host="www.mypersonas.online" />
                <data android:scheme="https" android:host="aliaspaces.com" />
                <data android:scheme="https" android:host="www.aliaspaces.com" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="aliaspaces" android:host="website" />
                <data android:scheme="aliaspaces" android:host="social" />
                <data android:scheme="aliaspaces" android:host="local" />
            </intent-filter>
        </activity>
    <activity android:name="com.portfolio.guide.GuideActivity" android:exported="true" android:label="App guide" />
    </application>
</manifest>
